[phases.setup]
nixPkgs = ["nodejs", "pnpm"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm build", "pnpm build:server"]

[start]
cmd = "NODE_ENV=production node dist-server/index.js"
